.container{
    width: 500px;
    height: 750px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background-image: url('./background.jpeg');
    background-size: cover;
    font-size: 18px;
        border: 1px solid black;

}
h2{
    color: rgb(100, 1, 1);
}
input{
    width: 150px;
    height: 30px;
}
#add{
    height: 30px;
    width: 50px;
    background-color: rgb(56, 161, 56);
    border: 0px;
    color: white;
}
#delete{
    height: 30px;
    width: 50px;
    background-color: red;
    border: 0px;
    color: white;
}

.task-header{
    display: flex;
    justify-content: space-evenly; /* horizontal centering */
    align-items: center;     /* vertical centering*/
    border: 1px solid black;
}
.task-section{
    display: flex;
    justify-content: space-around;
    /* */
    align-items: center;
    margin-top: 10px; 
    border: 1px solid black;
}
h3{
    margin: 0px;
}